*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    // width: 100%;
    // height: 100%;
    background-color: #f3f8fd;
}

ul {
    list-style-type: none;
}
